set JAVA_HOME="C:\Development\jdk\1.8.0_25"

mvn clean install -DskipTests -Pgwt-war -pl barsgl-gwt/barsgl-gwt-core,barsgl-gwt/barsgl-gwt-servlet,barsgl-gwt/barsgl-gwt-serverutil,barsgl-gwt/barsgl-gwt-war