set JAVA_HOME="C:\Development\jdk\1.8.0_25"

cmd /C mvn clean install -DskipTests -pl barsgl-shared,barsgl-ejbparent/barsgl-ejb-core,barsgl-ejbparent/barsgl-ejb-common,barsgl-ejbparent/barsgl-ejb,barsgl-gwt/barsgl-gwt-serverutil,barsgl-gwt/barsgl-gwt-server,barsgl-gwt/barsgl-gwt-war,barsgl-ear
