set JAVA_HOME="C:\dev\tools\jdk8"

mvn release:clean



select * from (
select GL.ID, GL.BSAACID, GL.CBCC, GL.CBCCN, GL.BRANCH, GL.CCY, GL.CUSTNO, GL.ACCTYPE, GL.CBCUSTTYPE, GL.TERM, GL.GL_SEQ,
        GL.ACC2, GL.PLCODE, GL.ACOD, GL.SQ, GL.ACID, GL.PSAV, GL.DEALSRS, GL.DEALID, GL.SUBDEALID, GL.DESCRIPTION,
        GL.DTO, GL.DTC, GL.DTR, GL.DTM, GL.OPENTYPE, GL.GLOID, GL.GLO_DC,
       case when BLTR.BSAACID is null then 0
                else cast((BLTR.OBAC+BLTR.DTAC+BLTR.CTAC)/POWER(10,CC.NBDP) as decimal(19,2))
                else (BLTR.OBAC+BLTR.DTAC+BLTR.CTAC)/POWER(10,CC.NBDP
       end as BALANCE
from dwh.GL_ACC GL
       left join CURRENCY CC on GL.CCY=CC.GLCCY
       left join BALTUR BLTR on GL.BSAACID=BLTR.BSAACID  and BLTR.DATTO='2029-01-01') v0