set JAVA_HOME="C:\dev\tools\jdk8"

mvn release:clean release:prepare release:perform -DscmCommentPrefix="-BUILD BARSSRV RELEASE-" -Darguments="-DskipTests -Dmaven.javadoc.skip=true" -DpreparationGoals="" -Dresume=false -DdryRun=false -P with-remote-tests,srv-ear-prod,-full-ear -Denv=barssrv