set JAVA_HOME="C:\dev\tools\jdk8"

mvn release:clean release:prepare release:perform -DscmCommentPrefix="-сборка версии-" -Darguments="-DskipTests -Dmaven.javadoc.skip=true" -DpreparationGoals="" -Dresume=false -DdryRun=false -P with-remote-tests,ear-prod,-full-ear