<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <welcome-file-list>
        <welcome-file>BarsGL.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>ru.rbt.barsgl.gwt.server.service.AppSessionListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>AuthorizationServiceImpl</servlet-name>
        <servlet-class>ru.rbt.security.gwt.server.rpc.auth.AuthorizationServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileHandler</servlet-name>
        <servlet-class>ru.rbt.barsgl.gwt.server.upload.UploadFileHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportFileHandler</servlet-name>
        <servlet-class>ru.rbt.barsgl.gwt.server.export.ExportFileHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimerJobServiceImpl</servlet-name>
        <servlet-class>ru.rbt.tasks.gwt.server.rpc.job.TimerJobServiceImpl</servlet-class>        
    </servlet>
    <servlet>
        <servlet-name>OperDayServiceImpl</servlet-name>
        <servlet-class>ru.rbt.barsgl.gwt.server.rpc.operday.OperDayServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperDayInfoServiceImpl</servlet-name>
        <servlet-class>ru.rbt.security.gwt.server.rpc.operday.info.OperDayInfoServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsyncGridServiceImpl</servlet-name>
        <servlet-class>ru.rbt.grid.gwt.server.rpc.asyncGrid.AsyncGridServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManualOperationServiceImpl</servlet-name>
        <servlet-class>ru.rbt.barsgl.gwt.server.rpc.operation.ManualOperationServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitoringSupportServlet</servlet-name>
        <servlet-class>ru.rbt.barsgl.gwt.server.service.MonitoringSupportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManualDictionaryServiceImpl</servlet-name>
        <servlet-class>ru.rbt.barsgl.gwt.server.rpc.dict.ManualDictionaryServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessServiceImpl</servlet-name>
        <servlet-class>ru.rbt.barsgl.gwt.server.rpc.access.AccessServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdSyncServiceImpl</servlet-name>
        <servlet-class>ru.rbt.barsgl.gwt.server.rpc.sync.PdSyncServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplServiceImpl</servlet-name>
        <servlet-class>ru.rbt.barsgl.gwt.server.rpc.replication.ReplServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertiesServiceImpl</servlet-name>
        <servlet-class>ru.rbt.barsgl.gwt.server.rpc.properties.PropertiesServiceImpl</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>LoaderControlServiceImpl</servlet-name>
        <servlet-class>ru.rbt.barsgl.gwt.server.rpc.loader.LoaderControlServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitorServiceImpl</servlet-name>
        <servlet-class>ru.rbt.security.gwt.server.rpc.monitoring.MonitorServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthorizationServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/AuthorizationService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimerJobServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/TimerJobService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperDayServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/OperDayService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperDayInfoServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/OperDayInfoService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsyncGridServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/AsyncGridService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileHandler</servlet-name>
        <url-pattern>/service/UploadFileHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportFileHandler</servlet-name>
        <url-pattern>/service/ExportFileHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManualOperationServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/ManualOperationService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitoringSupportServlet</servlet-name>
        <url-pattern>/monitor/service/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManualDictionaryServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/ManualDictionaryService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/AccessService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdSyncServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/PdSyncService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/ReplService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertiesServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/PropertiesService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoaderControlServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/LoaderControlService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitorServiceImpl</servlet-name>
        <url-pattern>/barsgl/service/MonitorService</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
</web-app>
